.banner {
  border: 2px solid blue;
  display: flex;
  height: 10em;
  width: 100%;
  .arrows {
    display: flex;
    justify-content: center;
    height: 25%;
    position: relative;
    top: 2px;
  }
}
