.emergency {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 50%;
  font-size: 40px;
  .emergency-form {
    display: flex;
    .first-name {
      border-radius: 12px;
      margin: 0.5em;
    }
    .last-name {
      border-radius: 12px;
      margin: 0.5em;
    }
    .phone {
      border-radius: 12px;
      margin: 0.5em;
    }
    .contact-date {
      border-radius: 12px;
      margin: 0.5em;
    }
    .contact-time {
      border-radius: 12px;
      margin: 0.5em;
    }
  }
}
