.days {
  display: flex;
  flex-direction: column;
  margin: 0.75em;
  font-size: 25px;

  // border: 2px solid green;
  .days-date {
    font-weight: 500;
    border-bottom: 2px solid black;
    color:whitesmoke;
    background-color: transparent ;
    backdrop-filter: blur(10px) brightness(30%);
  }
  .day-meals {
    display: flex;
    flex-direction: row;

    // border: 2px solid red;
  }
}
