.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  background-color: rgb(155, 192, 155);
  .header-left {
    display: flex;
    justify-content: space-between;
    width: 27.5em;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
  }
}
