.sidebar {
  display: flex;
  flex-direction: column;
  width: 13em;
  background-color: rgb(177, 124, 124);
  .sidebar-item {
    display: flex;
    width: 13em;
    font-size: 20px;
    font-weight: 450;
  }
}
